.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mySpinnerDesign {
  position: fixed;
  padding-top: 300px;
  top: 0%;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #282c3476;
  animation: myanimation 5s infinite;
}

@keyframes myanimation {
  0% {
    color: rgb(255, 140, 0);
  }

  25% {
    color: rgb(6, 150, 63);
  }

  50% {
    color: rgb(0, 119, 128);
  }

  75% {
    color: rgb(159, 42, 165);
  }

  100% {
    color: rgb(170, 41, 41);
  }
}